@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Montserrat:400,600&display=swap");
@font-face {
  font-family: "icomoon";
  src: url("/icomoon.b7d35242.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
.icon-caret {
  display: inline-block;
  height: 1px;
}
.icon-caret:before {
  content: "⌃";
}

.rotate90 {
  transform: rotate(90deg);
}

.rotate180 {
  transform: rotate(180deg);
}

.rotate270 {
  transform: rotate(270deg);
}

[class^=icon-], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "icomoon" !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-event_available:before {
  content: "";
}

.icon-event_busy:before {
  content: "";
}

.icon-event_note:before {
  content: "";
}

.icon-tags:before {
  content: "";
}

.icon-chevron-right:before {
  content: "";
}

.icon-briefcase1:before {
  content: "";
}

.icon-flask:before {
  content: "";
}

.icon-space-shuttle:before {
  content: "";
}

.icon-target:before {
  content: "";
}

.icon-book:before {
  content: "";
}

.icon-reading:before {
  content: "";
}

.icon-book2:before {
  content: "";
}

.icon-home:before {
  content: "";
}

.icon-office:before {
  content: "";
}

.icon-pencil:before {
  content: "";
}

.icon-quill:before {
  content: "";
}

.icon-folder:before {
  content: "";
}

.icon-folder-open:before {
  content: "";
}

.icon-clock:before {
  content: "";
}

.icon-alarm:before {
  content: "";
}

.icon-calendar:before {
  content: "";
}

.icon-spinner2:before {
  content: "";
}

.icon-search:before {
  content: "";
}

.icon-equalizer:before {
  content: "";
}

.icon-cog:before {
  content: "";
}

.icon-aid-kit:before {
  content: "";
}

.icon-pie-chart:before {
  content: "";
}

.icon-stats-dots:before {
  content: "";
}

.icon-stats-bars:before {
  content: "";
}

.icon-trophy:before {
  content: "";
}

.icon-leaf:before {
  content: "";
}

.icon-meter:before {
  content: "";
}

.icon-lab:before {
  content: "";
}

.icon-briefcase:before {
  content: "";
}

.icon-list:before {
  content: "";
}

.icon-menu:before {
  content: "";
}

.icon-eye:before {
  content: "";
}

.icon-eye-blocked:before {
  content: "";
}

.icon-star-full:before {
  content: "";
}

.icon-plus:before {
  content: "";
}

.icon-checkmark:before {
  content: "";
}

.icon-checkbox-checked:before {
  content: "";
}

.icon-checkbox-unchecked:before {
  content: "";
}

.icon-radio-checked2:before {
  content: "";
}

.icon-radio-unchecked:before {
  content: "";
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-size: 13px;
  font-family: "Montserrat", sans-serif;
}

.clearfix {
  clear: both;
}

.font8 {
  font-size: 8px;
}

.font9 {
  font-size: 9px;
}

.font10 {
  font-size: 10px;
}

.font11 {
  font-size: 11px;
}

.font12 {
  font-size: 12px;
}

.font13 {
  font-size: 13px;
}

.font14 {
  font-size: 14px;
}

.font15 {
  font-size: 15px;
}

.font16 {
  font-size: 16px;
}

.font17 {
  font-size: 17px;
}

.font18 {
  font-size: 18px;
}

.font19 {
  font-size: 19px;
}

.font20 {
  font-size: 20px;
}

.font21 {
  font-size: 21px;
}

.font22 {
  font-size: 22px;
}

.font23 {
  font-size: 23px;
}

.font24 {
  font-size: 24px;
}

.semibold {
  font-weight: 600;
}

.hide, .hidden {
  display: none;
}

.display-ib {
  display: inline-block;
}

.flex {
  display: flex;
}

.left {
  float: left;
}

.right {
  float: right;
}

.centerTxt {
  text-align: center;
}

.anchor {
  position: relative;
  top: -250px;
}

.smallTitle {
  padding: 10px;
  color: grey;
  font-size: 12px;
}

.btn-full {
  border-top: 1px solid lightgray;
  border-bottom: 1px solid lightgray;
  text-align: center;
  padding: 10px;
  background: white;
  color: grey;
}

select:invalid {
  color: #bbb;
}

input, select {
  width: 100%;
  font-size: 16px;
  padding: 5px;
  outline: none;
}
input::placeholder, select::placeholder {
  color: #bbb;
}

body {
  background: lightgray;
  color: #0a0a0a;
  overflow-y: hidden;
}

.appContainer {
  display: flex;
  flex-direction: column;
  position: relative;
  overflow: hidden;
  height: 100%;
}

.appHeader {
  background-color: #2F3E4E;
  padding: 15px;
  text-align: center;
  color: white;
  z-index: 100;
}

.loading {
  position: fixed;
  height: 100%;
  width: 100%;
  background: whitesmoke;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.loading .loader > span {
  animation: loader 0.9s -0.6s infinite cubic-bezier(0.85, 0.25, 0.37, 0.85);
  border-radius: 5px;
  margin: 2px;
  height: 30px;
  display: inline-block;
  width: 5px;
  background-color: lightgrey;
}
.loading .loader > span:nth-child(3), .loading .loader > span:nth-child(5) {
  animation-delay: -0.4s !important;
}
.loading .loader > span:nth-child(2), .loading .loader > span:nth-child(6) {
  animation-delay: -0.2s !important;
}

.fullPanel {
  position: absolute;
  height: 100%;
  width: 100%;
  transition: transform 0.6s ease;
}

@keyframes loader {
  0%, 100% {
    transform: scaleY(1);
  }
  50% {
    transform: scaleY(0.4);
  }
}
.title {
  text-align: center;
  font-size: 30px;
  padding: 30px;
}

.iconsList {
  padding: 15px;
  border-bottom: 2px solid white;
}

.homePage {
  flex-grow: 1;
  position: relative;
}

.dragHandler {
  height: 100%;
}

.charts {
  box-shadow: -6px -5px 10px #202f40;
  background: #202f40;
  top: 0;
  z-index: 10;
  transform: translateX(100%);
  transition: transform 0.6s ease;
}
.charts.screen-Home {
  transform: translateX(105%) !important;
}

.menu {
  transition-delay: 0.05s;
  position: absolute;
  transform: translateX(50%);
  background: #3e5670;
  right: 0;
  top: 0;
  box-shadow: -6px -5px 10px #2F3E4E;
  color: white;
  width: 100%;
  height: 100%;
  transition: transform 0.1s linear, right 1s ease;
  transition-delay: 0.01s;
}
.menu.screen-Metrix, .menu.prev-Metrix {
  right: 100%;
  transform: translateX(100%) !important;
  transition: all 0.6s ease;
}

.metric {
  border-bottom: 1px solid white;
  width: 50%;
  padding: 15px;
}
.metric .icon-pencil {
  float: right;
}

.addBtn {
  position: fixed;
  right: 30px;
  bottom: 30px;
  padding: 15px;
  font-size: 18px;
  background: #2F3E4E;
  border-radius: 30px;
  color: white;
}
.rc-swipeout {
  overflow: hidden;
  position: relative;
}
.rc-swipeout-content {
  position: relative;
  background-color: #fff;
}
.rc-swipeout-cover {
  position: absolute;
  z-index: 2;
  background: transparent;
  height: 100%;
  width: 100%;
  top: 0;
  display: none;
}
.rc-swipeout .rc-swipeout-content,
.rc-swipeout .rc-swipeout-actions {
  -webkit-transition: all 250ms;
  transition: all 250ms;
}
.rc-swipeout-swiping .rc-swipeout-content {
  -webkit-transition: none;
  transition: none;
}
.rc-swipeout-actions {
  position: absolute;
  top: 0;
  bottom: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  white-space: nowrap;
}
.rc-swipeout-actions-left {
  left: 0;
}
.rc-swipeout-actions-right {
  right: 0;
}
.rc-swipeout-btn {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  overflow: hidden;
}
.rc-swipeout-btn-text {
  padding: 0 12px;
}

.addEdit {
  z-index: 1000;
  background: white;
  transition: transform 0.6s ease;
}
.addEdit.add-enter-active {
  animation: slideUp 0.6s ease;
}
.addEdit.add-exit-active {
  animation: slideUp 0.6s ease-in reverse;
}
.addEdit.edit-enter-active {
  animation: slideRight 0.6s ease;
}
.addEdit.edit-exit-active {
  animation: slideRight 0.6s ease-in reverse;
}

.header {
  display: flex;
  justify-content: space-between;
}
.header div {
  padding: 15px;
}

.addHeader {
  background: whitesmoke;
  border-bottom: 1px solid lightgray;
  color: #4F7FD7;
}
.addHeader .headerTitle {
  color: black;
  font-weight: 600;
}

.editHeader {
  color: whitesmoke;
  background: #2F3E4E;
  border-bottom: 1px solid #3e5670;
}
.editHeader .back-btn {
  display: flex;
  align-items: center;
  padding-left: 0;
}
.editHeader .back-btn .icon {
  font-weight: 600;
  display: block;
  padding: 0 10px;
}

.metricName {
  display: flex;
  padding: 0 10px;
  align-items: center;
}
.metricName input {
  outline: none;
  width: 100%;
  font-size: 16px;
  padding: 5px;
}

.temp {
  padding: 15px;
  background: whitesmoke;
}

.tag {
  padding: 5px;
  margin: 5px 0;
  box-sizing: border-box;
  background-color: #6D65CB;
  display: inline-block;
  vertical-align: middle;
  color: white;
}

.traingle {
  width: 0;
  height: 0;
  display: inline-block;
  vertical-align: middle;
  border-top: 27px solid transparent;
  border-left: 17px solid #6D65CB;
}

.typeContainer {
  background-color: whitesmoke;
  position: relative;
}
.typeContainer .icon-list {
  padding: 10px;
}
.typeContainer .icon-caret {
  position: absolute;
  top: 50%;
  right: 5px;
  font-weight: bold;
  color: grey;
  padding: 5px;
  transform: translateY(-50%) rotate(90deg);
}

.tagsContainer {
  align-items: center;
  border-top: 1px solid lightgray;
  border-bottom: 1px solid lightgray;
  padding: 0 10px;
}
.tagsContainer .icon {
  color: grey;
}
.tagsContainer .tag {
  font-size: 10px;
  background-color: slategray;
  padding: 3px;
  margin: 0 2px;
  border-radius: 3px;
}
.tagsContainer .tag.selected {
  background-color: dimgray;
}

.delete-btn {
  margin-top: 20px;
  color: darkred;
}

.moveTo {
  z-index: 10000;
  background-color: whitesmoke;
  top: 0;
}
.moveTo.moveTo-enter-active {
  animation: slideUp 0.5s ease;
}
.moveTo.moveTo-exit-active {
  animation: slideUp 0.5s ease-in reverse;
}
.moveTo .searchbar {
  padding: 5px;
  position: relative;
  display: flex;
  align-items: center;
  border-bottom: 1px solid lightgrey;
}
.moveTo .searchbar .icon {
  position: absolute;
  top: 50%;
  padding: 5px;
  transform: translateY(-50%);
}
.moveTo .searchbar .icon-search {
  color: #bbb;
  pointer-events: none;
}
.moveTo .searchbar .iconX {
  right: 5px;
}
.moveTo .searchbar input {
  text-indent: 20px;
  border-radius: 5px;
  border: none;
}
.moveTo .listsContainer {
  margin-top: 20px;
}
.moveTo .listsList {
  border-top: 1px solid lightgray;
  border-bottom: 1px solid lightgray;
  background: white;
  margin-bottom: 15px;
}
.moveTo .listsList .list {
  display: flex;
  align-items: center;
}
.moveTo .listsList .list:not(:last-child) .name {
  border-bottom: 1px solid lightgray;
}
.moveTo .listsList .list .color {
  height: 8px;
  width: 8px;
  margin: 5px;
  border-radius: 10px;
}
.moveTo .listsList .list .name {
  padding: 10px 0;
  flex-grow: 1;
}

@keyframes slideUp {
  0% {
    transform: translateY(100vh);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes slideRight {
  0% {
    transform: translateX(100vw);
  }
  100% {
    transform: translateX(0);
  }
}

/*# sourceMappingURL=/src.a2b27638.css.map */