@import '../constants.scss';

.title{
    text-align: center;
    font-size: 30px;
    padding: 30px;
}

.iconsList{
    padding: 15px;
    border-bottom: 2px solid white;

}

.homePage {
    flex-grow: 1;
    position: relative;
}

.dragHandler{
    height: 100%;
}

.charts{
    &.screen-Home{
        transform: translateX(105%) !important;
    }

    box-shadow: -6px -5px 10px $colorDarker;

    background: $colorDarker;
    top: 0;
    z-index: 10;
    transform: translateX(100%);
    transition: transform .6s ease;
}

.menu{
    &.screen-Metrix , &.prev-Metrix{
        right: 100%;
        transform: translateX(100%) !important;
        transition: all 0.6s ease;
    }
    transition-delay: .05s;

    position: absolute;
    transform: translateX(50%);
    background: $colorStnd;
    right: 0;
    top: 0;
    box-shadow: -6px -5px 10px $colorDark;

    color: white;
    // width: 33%;
    width: 100%;
    height: 100%;

    
    transition: transform .1s linear, right 1s ease;
    transition-delay: .01s;

}

.metric{
    border-bottom: 1px solid white;
    width: 50%;
    padding: 15px;
    

    .icon-pencil{
        float: right;
    }
}

.addBtn{
    position: fixed;
    right: 30px;
    bottom: 30px;

    padding: 15px;
    font-size: 18px;

    background: $colorDark;
    border-radius: 30px;
    color: white;
}

