$colorDarker: #202f40;
$colorDark: #2F3E4E;
$colorStnd: #3e5670;
$colorLight: #46586b;
$background: lightgray;

$iOSBlue: #4F7FD7;

$colorGreen: #53C5A0;
$colorPurple: #6D65CB;
$colorOrange: #D37647;
$colorYellow: #D3B347;