@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

.icon-caret{
  display: inline-block; 
  height: 1px;
  &:before{
    content: '⌃';
  }
}

.rotate90{transform: rotate(90deg);}
.rotate180{transform: rotate(180deg);}
.rotate270{transform: rotate(270deg);}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-event_available:before {
  content: "\e902";
}
.icon-event_busy:before {
  content: "\e906";
}
.icon-event_note:before {
  content: "\e908";
}
.icon-tags:before {
  content: "\f02c";
}
.icon-chevron-right:before {
  content: "\f054";
}
.icon-briefcase1:before {
  content: "\f0b1";
}
.icon-flask:before {
  content: "\f0c3";
}
.icon-space-shuttle:before {
  content: "\f197";
}
.icon-target:before {
  content: "\e909";
}
.icon-book:before {
  content: "\e901";
}
.icon-reading:before {
  content: "\e901";
}
.icon-book2:before {
  content: "\e903";
}
.icon-home:before {
  content: "\e900";
}
.icon-office:before {
  content: "\e904";
}
.icon-pencil:before {
  content: "\e905";
}
.icon-quill:before {
  content: "\e907";
}
.icon-folder:before {
  content: "\e92f";
}
.icon-folder-open:before {
  content: "\e930";
}
.icon-clock:before {
  content: "\e94e";
}
.icon-alarm:before {
  content: "\e950";
}
.icon-calendar:before {
  content: "\e953";
}
.icon-spinner2:before {
  content: "\e97b";
}
.icon-search:before {
  content: "\e986";
}
.icon-equalizer:before {
  content: "\e992";
}
.icon-cog:before {
  content: "\e994";
}
.icon-aid-kit:before {
  content: "\e998";
}
.icon-pie-chart:before {
  content: "\e99a";
}
.icon-stats-dots:before {
  content: "\e99b";
}
.icon-stats-bars:before {
  content: "\e99c";
}
.icon-trophy:before {
  content: "\e99e";
}
.icon-leaf:before {
  content: "\e9a4";
}
.icon-meter:before {
  content: "\e9a6";
}
.icon-lab:before {
  content: "\e9aa";
}
.icon-briefcase:before {
  content: "\e9ae";
}
.icon-list:before {
  content: "\e9ba";
}
.icon-menu:before {
  content: "\e9bd";
}
.icon-eye:before {
  content: "\e9ce";
}
.icon-eye-blocked:before {
  content: "\e9d1";
}
.icon-star-full:before {
  content: "\e9d9";
}
.icon-plus:before {
  content: "\ea0a";
}
.icon-checkmark:before {
  content: "\ea10";
}
.icon-checkbox-checked:before {
  content: "\ea52";
}
.icon-checkbox-unchecked:before {
  content: "\ea53";
}
.icon-radio-checked2:before {
  content: "\ea55";
}
.icon-radio-unchecked:before {
  content: "\ea56";
}
