@import url('https://fonts.googleapis.com/css?family=Montserrat:400,600&display=swap');
@import './icon.scss';

* {box-sizing:border-box}
body{ 
    margin: 0; font-size: 13px;
    font-family: 'Montserrat', sans-serif;
}

.clearfix{clear: both;}

$font: font;
@for $i from 8 through 24 {
    .#{$font}#{$i} {
        font-size: #{$i}px
    }
}

.semibold{font-weight: 600}

.hide{display: none}
.flex{display: flex;}

.left{float: left;}
.right{float: right;}


.centerTxt{text-align: center;}

.anchor{
    position: relative;
    top: -250px;
}

input{
    outline: none;
    width: 100%;
    font-size: 16px;
    padding: 5px;

    &::placeholder {
        color: #bbb;
    }
}
